@import url(https://fonts.googleapis.com/css?family=Tienne:400,700);
@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:400,400italic,700,700italic,600,600italic,100,100italic);
@import url(https://fonts.googleapis.com/css?family=Rock+Salt);


/* Nav */
.primary-nav{
    position: fixed;
    background: white;
      width: 100%;
      margin: 0;
      left: 0;
      top: 0;
    padding-left: 30px;
    padding-bottom: 15px;
}

nav li {
    font-size: 1.5em;
    list-style: none;
    float: left; 
    padding-left: 30px;
}

nav a:link {
    background: white;
    border-color: white;
    border-radius: 5px;
    color: #d5b386;
    font-family: 'Josefin Sans', sans-serif; 
    font-weight: 600; 
    margin: .5px 10px 5px 10px;
    padding: 5px 5px 5px 5px;
    text-decoration: none;    
}

nav a:visited {
   color: #43b952; 
}

nav a:hover {
    background: black;
    color: white;
    margin-top: 20px;    
}

 /* Fonts*/

h1 {
    font-family: 'Josefin Sans', sans-serif;
}
h2 {
    font-family: 'Josefin Sans', sans-serif;
}
h3 {
    font-family: 'Josefin Sans', sans-serif;
}
h4 {font-family: 'Josefin Sans', sans-serif;
    
}
p {
    font-family: 'Tienne', serif;
    font-size: 16px;
}
ul {
    font-family: 'Tienne', serif;
    font-size: 14px;
}

/* Body 

header {
    background: rgba(255,255,255,.65);
    background-image: url(../img/cactus.jpg);
    background-repeat: no-repeat;
    color: white;
    display: inline;
    height: 400px;
    float: left;
    font-size: 2.25em;
    margin-left: 1em;
    margin-top: 50px;
    padding: 4em;
    position: static;
    width: 450px;

}
section {
display: inline-block;
  float: left;
  margin: 0 1.5%;
  margin-top: 50px;
  padding: 10px;
  position: static;
  width: 20%;
}
*/
.main {
    display: flex; inline-block;
    display: -ms-flexbox;
  flex-flow: row wrap;
  align-content: flex-start;
  
}
#A {
    background-image: url(../img/cactus.jpg);
    height: 750px;
    width: 400px;
    overflow: hidden;
    flex-grow: 0;
    padding: 0;
    position: relative;
    margin: auto;
    z-index: -1;
}
.main h1 {
  color: white;
  font-size: 52px;
 position: absolute;
  top: 50%;
  left: 50%;
  font-size: 2rem;
}
#B {
    height: 400px;
    padding: 10px;
    flex-grow: 0;
}
#C {
    width: 100px;
    height: 200px;
    padding: 10px;
    flex-grow: 1;
    margin-top: 50px;
}


/* Resume */
.headline {
    background-image: url(../img/bg.jpg);
    height: 200px;
}

.resume {
  display: flex;
  margin-top: 10px;
   display: -ms-flexbox;
  flex-flow: row wrap;
  align-content: flex-start;
}
#work {
 
  width: 30%;
  flex-grow: 2;
  -webkit-align-self: flex-start;
   align-self: flex-start;
  margin-left: 20px;
}
#work h2 {
  margin-left: auto;
}

#skill {
  height: 25%;
  flex-grow: 2;
}
#skill h2{
    margin-left: 125px;
}
.edu p {
	margin-right: 10px;
  margin-left: 0px;
 }

.resume ol {
    font-family: tienne;
    margin-left: 100px;
}
 .resume ul {
     list-style-image: inherit;
 	padding: 0 0px;
 }
 .resume li {
 	margin-top: 15px;
 	font-family: tienne;
 	font-size: 14px;
 	list-style: none;
 }
/* Contact Page */

 .box1 {
   display: flex;
     flex-flow: row wrap;
   justify-content: left;
    background-image: url(../img/bg.jpg);
    
     margin-left: 50px;
     margin-top: 50px;
     overflow: hidden;
     height: 450px;
     width: 1000px;
    flex-grow: 2;
    padding: 0;
    z-index: -1;
}
.contact {
  justify-content: center;
  color: white;
  padding-left: 100px;
    padding-top: 100px;
    background: rgba(255,255,255,.65);
}

.contact a:link,
a:visited {
  text-decoration: none;
    color: black;
}

.contact li {
    list-style: none;
    
}

.contact h1 {
    color: black;
    font-size: 2em;
}

/* Portfolio 
.portfolio {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    background: blue;
}
.portfolio figure {
    background: yellow;
    
}
*/
.portfolio {
display: -ms-flexbox;
  -ms-flex-wrap: wrap;
  -ms-flex-direction: column;
  -webkit-flex-flow: row wrap; 
  flex-flow: row wrap; 
  display: -webkit-box;
  display: flex;
}
.portfolio figure img{

    height: 200px;
    width: 300px;
    margin: auto;
    padding: 5px;
    background: red;
}