@import url(https://fonts.googleapis.com/css?family=Tienne:400,700);
@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:400,400italic,700,700italic,600,600italic,100,100italic);


/* Nav */
.primary-nav{
    position: fixed;
    background: white;
      width: 100%;
      margin: 0;
      left: 0;
      top: 0;
    padding-left: 30px;
    padding-bottom: 15px;
}

nav li {
    list-style: none;
    float: left; 
    padding-left: 30px;
}

nav a:link {
    background: white;
    border-color: white;
    border-radius: 5px;
    color: black;
    font-family: 'Josefin Sans', sans-serif; 
    font-weight: 600; 
    margin: .5px 10px 5px 10px;
    padding: 5px 5px 5px 5px;
    text-decoration: none;    
}

nav a:visited {
   color: #d5b386; 
}

nav a:hover {
    background: black;
    color: white;
    margin-top: 20px;    
}

nav a-active: {
   color: #43b952;
}

 /* Fonts*/

h1 {
    font-family: 'Josefin Sans', sans-serif;
}
h2 {
    font-family: 'Josefin Sans', sans-serif;
}
h3 {
    font-family: 'Josefin Sans', sans-serif;
}
h4 {font-family: 'Josefin Sans', sans-serif;
    
}
p {
    font-family: 'Tienne', serif;
    font-size: 14px;
}
ul {
    font-family: 'Tienne', serif;
    font-size: 14px;
}

/* Body */

header {
    background: rgba(255,255,255,.65);
    color: black;
    float: left;
    font-size: 2em;
    margin: 2em;
    padding: 4em;
    position: static;
}
section {
  float: left;
  margin: 0 1.5%;
  width: 30%;
}

.edu p {
	margin-right: 50px;
    margin-left: 30px;
 }

 article ul {
 	padding: 0 30px;
 }
 article li {
 	margin-top: 20px;
 	font-family: tienne;
 	font-size: 16px;
 	list-style: none;
 }
.edu {	
 	border-bottom: 4px; 
    border-bottom-color: black;
 }

