@import url(https://fonts.googleapis.com/css?family=Tienne:400,700);
@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:400,400italic,700,700italic,600,600italic,100,100italic);
@import url(https://fonts.googleapis.com/css?family=Rock+Salt);


/* Nav */
.primary-nav{
    position: fixed;
    background: white;
      width: 100%;
      margin: 0;
      left: 0;
      top: 0;
    padding-left: 30px;
    padding-bottom: 15px;
}

nav li {
    font-size: 1.5em;
    list-style: none;
    float: left; 
    padding-left: 30px;
}

nav a:link {
    background: white;
    border-color: white;
    border-radius: 5px;
    color: black;
    font-family: 'Josefin Sans', sans-serif; 
    font-weight: 600; 
    margin: .5px 10px 5px 10px;
    padding: 5px 5px 5px 5px;
    text-decoration: none;    
}

nav a:visited {
   color: #d5b386; 
}

nav a:hover {
    background: black;
    color: white;
    margin-top: 20px;    
}

nav a-active: {
   color: #43b952;
}

 /* Fonts*/

h1 {
    font-family: 'Josefin Sans', sans-serif;
}
h2 {
    font-family: 'Josefin Sans', sans-serif;
}
h3 {
    font-family: 'Josefin Sans', sans-serif;
}
h4 {font-family: 'Josefin Sans', sans-serif;
    
}
p {
    font-family: 'Tienne', serif;
    font-size: 16px;
}
ul {
    font-family: 'Tienne', serif;
    font-size: 14px;
}

/* Body */

header {
    background: rgba(255,255,255,.65);
    background-image: url(../img/cactus.jpg);
    background-repeat: no-repeat;
    color: white;
    display: inline;
    height: 400px;
    float: left;
    font-size: 2.25em;
    margin-left: 1em;
    margin-top: 50px;
    padding: 4em;
    position: static;
    width: 450px;

}
section {
display: inline-block;
  float: left;
  margin: 0 1.5%;
  margin-top: 50px;
  padding: 10px;
  position: static;
  width: 20%;
}

.edu p {
	margin-right: 10px;
    margin-left: 0px;
 }

article ol {
    font-family: tienne;
    padding-left: 0px;
}
 article ul {
     list-style-image: inherit;
 	padding: 0 0px;
 }
 article li {
 	margin-top: 15px;
 	font-family: tienne;
 	font-size: 14px;
 	list-style: none;
 }

.grid-4 {
    margin-top: 50px;
}

/* Contact Page */

a:link,
a:visited {
  text-decoration: none;
}

li {
    list-style: none;
}
.contact {
    margin-left: 100px;
    margin-top: 200px;
    padding-left: 20px;
    padding-top: 20px;
    float: left;
    position: fixed;
    background: rgba(255,255,255,.65);
}
.phones {
    margin-left: 50px;
    margin-top: 20px;
}
/* Portfolio */
.portfolio {
    display: flex;
}
.portfolio figure {
     flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    
}
.portfolio figure img{
    height: 200px;
    width: 300px;
    margin: 10px auto;
    padding: 5px;
}