.info {
    font-size: 1.5em;
    position: static;
}
/* Navigation */
.primary-nav{
    position: fixed;
    background: black;
      width: 100%;
  margin: 0;
  left: 0;
  top: 0;
  text-align: left;
    color: #d5b386;
    padding-left: 30px;
}
nav li {
    list-style: none;
    float: left;
    
    
}
nav a:link {
    background: white;
    border-color: white;
    border-radius: 5px;
    color: black;
    font-family: 'Josefin Sans', sans-serif; 
    font-weight: 600; 
    margin: 0 10px 0 10px;
    padding: 5px 5px 5px 5px;
    text-decoration: none;    
}
nav a:visited {
   color: #3D3D3D; 
}

nav a:hover {
    background: black;
    color: white;
    margin-top: 20px;    
}

nav a-active: {
    background: black;
}


/* Colors */
.colors {
    position: static;
}
.color-1 {
background: white;
}
.color-2 {
background: black;
}
.color-3 {
background: #72b0b0;
}
.color-4 {
    background: #3D3D3D;
}
.color-5 {
    background: #43b952;
}
.color-6 {
    background: #d5b386;
}

/* Textures and Patterns */
.patterns {
    position: static;
}
.pattern-1 {
    background: url("../img/hanna-konola_birthday.jpg") no-repeat;
    background-size: cover;
}
.pattern-2 {
    background: url("../img/185e6db5581a5c21e8a9f9b5018548fa.jpg") no-repeat;
    background-size: cover;
}
.pattern-3 {
    background: url("../img/Screen-Shot-2014-01-05-at-9.30.07-PM.png") no-repeat;
    background-size: cover;
}
/* Images */
.imagery {
    position: static;
}
.imagery-1 img {
    
    height: 200px;
}
.imagery-2 img {
    height: 300px; 
}
.imagery-3 img {
    height: 300px;
}
/* Icons */
.icons {
    position: static;
}
.icon-1 { 
    background: #000;
    height: 25px;
    width: 25px; 
}
.icon-1:hover {
    background: #72b0b0;
}
.icon-2 {
    background: #000;
    height: 25px;
    width: 25px; 
    }
.icon-2:hover {
    background: #43b952;
}
.icon-3 {
    background: #000;
    height: 25px;
    width: 25px; 
}
.icon-3:hover {
    background: #d5b386;
}



/*  Typography */

.typography {
    font-family: 'Tienne', serif;
    position: static;
}
h1 { font-family: 'Josefin Sans', sans-serif; 
    font-weight: 700;
}
h2 {
   font-family: 'Josefin Sans', sans-serif; 
    font-weight: 600; 
}
h3 {
  font-family: 'Josefin Sans', sans-serif; 
    font-weight: 400;   
}
p {
  font-family: 'Tienne', serif;
    
}









