/* Colors */
.color-1 {
background: white;
}
.color-2 {
background: black;
}
.color-3 {
background: #72b0b0;
}
.color-4 {
    background: #3D3D3D;
}
.color-5 {
    background: #43b952;
}
.color-6 {
    background: #d5b386;
}

/* Textures and Patterns */

.pattern-1 {
    background: url("../img/hanna-konola_birthday.jpg") no-repeat;
    background-size: cover;
}
.pattern-2 {
    background: url("../img/185e6db5581a5c21e8a9f9b5018548fa.jpg") no-repeat;
    background-size: cover;
}
.pattern-3 {
    background: url("../img/Screen-Shot-2014-01-05-at-9.30.07-PM.png") no-repeat;
    background-size: cover;
}
/* Images */

.imagery-1 img {
    
    height: 200px;
}
.imagery-2 img {
    height: 300px; 
}
.imagery-3 img {
    height: 300px;
}
/* Icons */
.icon-1 { 
    background: #000;
    height: 25px;
    width: 25px; 
}
.icon-2 {
    background: #000;
    height: 25px;
    width: 25px; 
    }
.icon-3 {
    background: #000;
    height: 25px;
    width: 25px; 
}

/* Navigation */
nav li {
    list-style: none;
    float: left;
    
}
nav a:link {
    background:
    border-bottom: 2px solid blue;
    border-radius: 5px;
    margin: 0 10px 0 10px;
    padding: 20px 20px 5px 20px;
    text-decoration: none;
    
}
nav a:visited {
   color: white; 
}

nav a:focus {
    background: purple;
    border: 10px solid red;
}

nav a:hover {
    background: white;
    color: red;
    margin-top: 20px;
    
}

nav a-active: {
    background: black;
}

/*  Typography */

.typography {
    font-family: 'Eczar', serif;
}









